[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/deck/Documents/tools/updater.sh
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=updater
Name=updater
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
